* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper header {
  position: absolute;
  width: 100%;
  z-index: 99;
  height: 50px;
}
.wrapper header .navbar.navbar-default {
  background-color: #021523;
  border: none;
  border-radius: 0;
}
.wrapper header .navbar.navbar-default .container-fluid {
  padding-left: 30px;
}
.wrapper header .navbar.navbar-default .container-fluid li {
  margin-left: 10px;
}
.wrapper header .navbar.navbar-default .container-fluid li .glyphicon {
  font-size: 14px;
}
.wrapper header .navbar.navbar-default .container-fluid a {
  font-size: 16px;
  color: #fff;
}
.wrapper header .navbar.navbar-default .container-fluid a:hover {
  color: #f40;
  background: #021523;
}
.wrapper header .navbar.navbar-default .container-fluid a:focus {
  background: #021523;
}
.wrapper header .navbar.navbar-default .container-fluid .dropdown-menu {
  background: #021523;
}
.wrapper header .navbar.navbar-default .container-fluid .dropdown-menu li a {
  color: #fff;
}
.wrapper header .navbar.navbar-default .container-fluid .dropdown-menu li a:hover {
  color: #f40;
}
.wrapper header .navbar.navbar-default .container-fluid .navbar-right {
  height: 50px;
}
.wrapper header .navbar.navbar-default .container-fluid .navbar-right .user {
  display: flex;
  padding-left: 10px;
  width: 100px;
  height: 50px;
  color: #fff;
  font-size: 12px;
}
.wrapper header .navbar.navbar-default .container-fluid .navbar-right .user a {
  margin-left: 5px;
  height: 100%;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
.wrapper header .navbar.navbar-default .container-fluid .navbar-right .user a:hover {
  background-color: transparent;
  color: #f40;
}
.wrapper header .navbar.navbar-default .container-fluid .navbar-right .user .sx:hover {
  color: #fff;
  cursor: default;
}
.wrapper .bg {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 550px;
  background-color: #ddd;
}
.wrapper .bg .container {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  background: url('../images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper .bg .register {
  position: absolute;
  top: calc(50% - 250px);
  right: 20%;
  width: 300px;
  height: 500px;
  background: rgba(0, 0, 0, 0.3);
}
.wrapper .bg .register .register-head {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px auto;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.wrapper .bg .register .register-head .register-head-title {
  position: absolute;
  left: calc(50% - 35px);
  width: 70px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #ddd;
}
.wrapper .bg .register .register-head .register-head-title:hover {
  color: #f40;
}
.wrapper .bg .register .register-content {
  margin: 30px auto;
  width: 220px;
  height: 270px;
  color: #fff;
}
.wrapper .bg .register .register-content form .form-group {
  margin-bottom: 30px;
}
.wrapper .bg .register .register-content form .btn-default {
  width: 100%;
  height: 40px;
  background-color: #021523;
  color: #fff;
  border: none;
  outline: none;
}
.wrapper .bg .register .register-content form .btn-default:hover {
  color: #f40;
}
.wrapper .bg .register .register-bottom {
  margin: 0 auto;
  width: 220px;
  height: 100px;
}
.wrapper .bg .register .register-bottom .partner {
  font-size: 12px;
  color: #fff;
}
.wrapper .bg .register .register-bottom .partner-content {
  margin-top: 20px;
  padding: 0 10px;
}
.wrapper .bg .register .register-bottom .partner-content span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 25px;
  cursor: pointer;
}
.wrapper .bg .register .register-bottom .partner-content .tecent {
  background: url("../images/tecent.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper .bg .register .register-bottom .partner-content .weibo {
  background: url("../images/weibo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper .bg .register .register-bottom .partner-content .wechat {
  background: url("../images/wechat.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper .foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #021523;
}
.wrapper .foot .foot-left {
  position: relative;
  top: 10px;
  width: 70%;
  height: 90px;
  color: #fff;
}
.wrapper .foot .foot-left .ul1 {
  position: absolute;
  left: 200px;
  line-height: 30px;
}
.wrapper .foot .foot-left .ul2 {
  position: absolute;
  left: 300px;
  line-height: 30px;
}
@media screen and (min-width: 760px) {
  .user {
    position: absolute;
    right: 200px;
  }
}
/*# sourceMappingURL=registe.css.map */